extends layout

block content
  h1 Typewriter Node.js Example

  form#form
    input#name(type='text', name='name', autofocus, placeholder='Product Name')
    br
    button#submit(type='submit') Order

  p#sent.hidden Sent!

  script.
    const elem = document.getElementById('form')
    elem.addEventListener("submit", (e) => {
      const userId = '1234'

      fetch('/submitOrder', {
        method: 'post',
        headers: {
          'Accept': 'application/json',
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({
          name: document.getElementById('name').value,
          user: {
            id: userId
          }
        })
      }).then(function(response) {
        if (response.status === 200) {
          document.getElementById('sent').classList.remove('hidden')
          setTimeout(() => {
            document.getElementById('sent').classList.add('hidden')
          }, 1000);
        } else {
          console.error(response)
        }
      }).catch((err) => {
        console.error(err)
      })

      e.preventDefault()
    }, false);
